= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.inputs do
    = f.input :username, required: true, autofocus: true, input_html: { autocomplete: 'username', class: 'form-input' }
    = f.input :password, required: true, input_html: { autocomplete: 'new-password', class: 'form-input' }
    = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password', class: 'form-input' }

  = f.actions do
    = f.action :submit, label: 'Sign up'

.or or

= render 'devise/shared/links'
