= semantic_form_for @relationship do |f|
  - if @relationship.errors.any?
    #error_explanation
      %h2= pluralize @relationship.errors.count, 'error'
      %ul
        - @relationship.errors.full_messages.each do |message|
          %li= message

  = f.inputs do
    = f.input :invitation_code

  = f.actions do
    = f.action :submit, label: 'Save'
