%article[family]
  %h3
    = link_to family do
      The
      = family.name
      Family
    - if current_user == family.user
      %span= link_to 'edit', edit_family_path(family)

  .family-info
    - if family.assignment_for current_user
      %h4 You're Buying For
      %p= family.assignment_for(current_user).display_name
    
    %h4 Invitation Code
    %p= family.code

    - if family.event_date.present?
      %h4 Event Date
      %p= family.event_date.strftime("%B %-d, %Y")

    - if family.has_members?
      %h4 Secret Santa Members
      %ul
        - family.members.each do | member | 
          %li= member.display_name
