= semantic_form_for family do |f|
  = f.inputs do
    = f.input :name, input_html: {class: 'form-input'}, required: true
    = f.input :event_date, as: :date_picker, label: 'When is your event?', input_html: {class: 'form-input'}

  = f.actions do
    = f.action :submit
    - if family.id
      %li.action
        = link_to 'Delete', family_path(family), method: :delete, class: 'button', confirm: 'Are you sure? There’s no undoing this.'
