.breadcrumbs
  = link_to dashboard_path, class: 'back' do
    = fa_icon 'home', text: 'Home'
  = fa_icon 'chevron-right'
  Detail

= render @family, family: @family

- if current_user == @family.user && @family.unassigned_members.count > 0
  %hr
  %h3 Add a Family Member

  = semantic_form_for Member.new do |f|
    = f.inputs do
      = f.input :family_id, as: :hidden, input_html: { value: @family.id }
      = f.input :name, required: true, input_html: { class: 'form-input' }

    = f.actions do
      = f.action :submit, label: 'Save'

  .family-finished
    %hr
    %h3 All Done?
    %p Are you finished adding family members? Ready to get everyone assigned?
    = link_to "Yeah!", family_assign_path(@family), class: 'button'
